@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:where(.dark) {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --max-width-3xl: 48rem;
  --max-width-4xl: 56rem;
  --max-width-5xl: 64rem;
  --max-width-6xl: 72rem;
  --max-width-7xl: 80rem;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}
